
.deno/
deno.lock


node_modules/
npm/


node_modules/.deno/


.env
.env.local
.env.*.local


logs/
*.log
npm-debug.log*
deno-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



dist/
build/
out/


.DS_Store
Thumbs.db

.vscode/
